*.log
.htaccess
wp-content/debug.log
wp-snapshots/
wp-config.php
wp-content/themes/twenty*
wp-content/themes/*.zip
wp-content/themes/flat-theme/
wp-content/themes/wplms_white/
wp-content/themes/storefront/
wp-content/themes/__MACOSX/